.all {
	width: 100%;
	height: 100vh;
	background-color: #f7f7f7;
	overflow-y: scroll;
	overflow-x: scroll;
}
.text {
	widows: 100%;
	padding: calc(2rem / 2) 1.33rem;
	background-color: #fff;
	> p:nth-chlid(1) {
		font-size: calc(1.86rem / 2);
		color: #333;
	}
	> p:nth-child(2) {
		font-size: calc(1.33rem / 2);
		color: #777;
		padding-top: calc(1rem / 2);
	}
	> p:nth-child(3) {
		font-size: calc(2rem / 2);
		color: #008e83;
		padding-top: calc(2rem / 2);
	}
}
.selector {
	background-color: #fff;
	width: 100%;
	margin-top: calc(2.46rem / 2);
	.selectorDiv {
		height: calc(4.73rem / 2);
		color: #333;
		font-size: calc(1.6rem / 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
		border-bottom: 2px solid #f7f7f7;
		> p {
			font-size: calc(1.6rem / 2);
			color: #333;
		}
		> div {
			width: calc(1rem / 2);
			height: calc(2.13rem / 2);
			> img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
.diary {
	margin-top: 0 !important;
	margin-left: 0.5rem !important;
}
.evaluate {
	background-color: #ffffff;
	width: 100%;
	.evalTop {
		padding: 1.33rem 0.66rem;
		margin: auto;
		display: flex;
		align-items: center;
		position: relative;
		.topInfor {
			display: flex;
			align-items: center;
			> div:nth-child(1) {
				width: calc(3.33rem / 2);
				height: calc(3.33rem / 2);
				border-radius: 100%;
				padding: 0 0.66rem 0 0.4rem;
				> img {
					width: 100%;
					height: 100%;
				}
			}
			.CDsecod {
				> p:nth-child(1) {
					font-size: calc(1.33rem / 2);
					color: #333;
				}
				> p:nth-child(2) {
					font-size: calc(1.06rem / 2);
					color: #999;
				}
			}
		}
		.topStars {
			position: absolute;
			right: 0.9rem;
			display: flex;
			align-items: center;
			> div {
				width: calc(2rem / 2);
				height: calc(2rem / 2);
				margin: 0 0.2rem;
				> img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.evaluateContent {
		width: 91%;
		margin: auto;
		font-size: calc(1.6rem / 2);
		color: #333;
	}
	.evaluateSee {
		width: 100%;
		padding: 1.66rem 0;
		> div {
			margin: auto;
			width: calc(14.4rem / 2);
			height: calc(4rem / 2);
			border-radius: 0.26rem;
			color: #008e83;
			border: 1px solid #008e83;
			text-align: center;
			line-height: calc(4rem / 2);
		}
	}
}
.editor {
	width: 100%;
	background-color: #fff;
	> div {
		padding: 1rem 0.9rem;
	}
}
.recommend {
	width: 100%;
	padding: 1rem 0;
	background-color: #fff;
	display: flex;
	.recommendContent {
		width: calc(13.93rem / 2);
		padding: 0 0 1rem 1rem;
		.rcImg {
			width: calc(13.93rem / 2);
			height: calc(13.93rem / 2);
			> img {
				width: 100%;
				height: 100%;
			}
		}
		.rcTitle {
			font-size: calc(1.53rem / 2);
			color: #000;
			padding-top: 0.66rem;
		}
		.rcBrief {
			font-size: calc(0.93rem / 2);
			color: #000;
			padding-top: 0.1rem;
		}
		.rcPrice {
			font-size: calc(1.93rem / 2);
			color: #008e83;
			padding-top: 1rem;
		}
	}
}
.bottomOperation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(6.26rem / 2);
	background-color: #fff;
	display: flex;
	align-items: center;
	> div {
		width: calc(16.66rem / 2);
		height: calc(6.26rem / 2);
		text-align: center;
		line-height: calc(6.26rem / 2);
		color: #fff;
	}
	.leftOperation {
		display: flex;
		> div {
			width: 50%;
			position: relative;
			color: #333;
			font-size: calc(1.06rem / 2);
			.imgA {
				width: calc(2.06rem / 2);
				height: calc(2.06rem / 2);
				margin: auto;
				margin-top: 10px;
				> img {
					width: 100%;
					height: 100%;
				}
			}
			> p {
				font-size: calc(1.06rem / 2);
				text-align: center;
				margin-top: -13px;
			}
		}
	}
	.centerOperation {
		background-color: #828d93;
	}
	.rightOperation {
		background-color: #008e83;
	}
}
.cart {
	width: calc(6.53rem / 2);
	height: calc(6.53rem / 2);
	position: fixed;
	right: 0.66rem;
	bottom: 4rem;
	> img {
		width: 100%;
		height: 100%;
	}
}
.selectModel {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	.modelInside {
		width: 100%;
		height: calc(52rem / 2);
		background-color: #fff;
		position: absolute;
		bottom: 0;
		.modelTop {
			width: 100%;
			height: calc(10rem / 2);
			margin: calc(3rem / 2) auto;
			display: flex;
			align-items: center;
			position: relative;
			&-left {
				width: calc(10.2rem / 2);
				height: calc(10.2rem / 2);
				margin: 0 calc(2.2rem / 2);
				> img {
					width: 100%;
					height: 100%;
				}
			}
			&-center {
				> p:first-child {
					font-size: calc(2.2rem / 2);
					color: #008e83;
				}
				> p:last-child {
					font-size: calc(1.53rem / 2);
					color: #666;
				}
			}
			&-close {
				width: calc(1.46rem / 2);
				height: calc(1.46rem / 2);
				position: absolute;
				top: 0;
				right: 2rem;
				> img {
					width: 100%;
					height: 100%;
					padding: 0.66rem;
				}
			}
		}
		.size {
			border-top: 1px solid #f7f7f7;
			border-bottom: 1px solid #f7f7f7;
			width: 100%;
			padding: calc(3rem / 2) 0;
			> p {
				margin: 0 calc(2.2rem / 2);
				font-size: calc(1.73rem / 2);
				color: #333;
			}
			&-Select {
				margin: 0 calc(2.2rem / 2);
				display: flex;
				flex-wrap: wrap;
				> p {
					height: calc(3rem / 2);
					line-height: calc(3rem / 2);
					border: 1px solid #999;
					padding: 0 0.44rem;
					border-radius: 4px;
					margin: 1rem calc(2.2rem / 2) 0 0;
				}
			}
		}
		.stock {
			width: 100%;
			border-bottom: 1px solid #f7f7f7;
			height: calc(5.33rem / 2);
			display: flex;
			align-items: center;
			font-size: calc(1.73rem / 2);
			color: #333;
			> p:first-child {
				margin-left: calc(2.2rem / 2);
			}
			> p:last-child {
				margin-left: calc(6.33rem / 2);
			}
		}
		.sum {
			width: 100%;
			margin-top: calc(3rem / 2);
			display: flex;
			justify-content: space-between;
			align-items: center;
			> p {
				margin-left: calc(2.2rem / 2);
				font-size: calc(1.73rem / 2);
				color: #333;
			}
			.buttonMoney {
				margin-right: calc(2rem / 2);
				div {
					display: flex;
					button {
						height: calc(2.9rem / 2);
						width: calc(2.9rem / 2);
						background-color: #f7f7f7;
					}
					> p {
						height: calc(2.9rem / 2);
						width: calc(2.9rem / 2);
						text-align: center;
						line-height: calc(2.9rem / 2);
						font-size: calc(1.5rem / 2);
						color: #333;
						background-color: #f7f7f7;
						margin: 0 calc(0.3rem / 2);
					}
				}
			}
		}
		.success {
			height: calc(6.26rem / 2);
			color: #fff;
			background-color: #008e83;
			position: absolute;
			bottom: 0;
			width: 100%;
			border: 0;
		}
		.error {
			height: calc(6.26rem / 2);
			color: #fff;
			background-color: #ccc;
			position: absolute;
			bottom: 0;
			width: 100%;
			border: 0;
		}
	}
}
.bottomA {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 0;
	height: calc(6.26rem / 2);
	display: flex;
	> button {
		width: 50%;
		height: 100%;
		font-size: calc(1.8rem / 2);
		color: #fff;
	}
	> button:first-child {
		background-color: #828d93;
	}
	> button:last-child {
		background-color: #008e83;
	}
}
.seeI {
	width: 100%;
	height: calc(10rem / 2);
	margin-top: calc(2.46rem / 2);
	> img {
		width: 100%;
		height: 100%;
	}
}
