.content {
	.header {
		padding: 0.93rem 0.6rem;
		border-bottom: 16.5px solid #ededf1;

		.dortor_name {
			display: flex;
			align-items: center;
			color: #454545;
			padding: 1rem;

			.name {
				font-size: 1.07rem;
				font-weight: bold;
			}

			.info {
				font-size: 0.67rem;
			}

			> i {
				display: block;
				width: 1px;
				height: 15px;
				background: #008e83;
				margin: 0 0.67rem;
			}
		}

		.dortor_jieshao {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 1rem;

			> p {
				font-size: 0.67rem;
				color: #777777;
				width: 70%;
			}

			.dortor_chengjiu {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.chengjiu_list {
					padding: 0 1rem;

					> p {
						text-align: center;
					}

					> p:first-child {
						font-size: 0.93rem;
						color: #008e83;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 45px;
					}

					> p:last-child {
						font-size: 0.67rem;
						color: #666666;
					}
				}
			}
		}
	}

	.hospital {
		padding: 1rem;
		display: grid;
		grid-template-columns: 1.5fr 5fr 1fr;

		.hospital_img {
			width: 3.33rem;
			height: 3.33rem;
		}

		.hospital_info {
			.hospital_name {
				> p:first-child {
					font-size: 0.8rem;
					color: #333333;
				}

				> p:last-child {
					font-size: 0.67rem;
					color: #cccccc;
				}
			}

			.hospital_address {
				font-size: 10px;
				color: #333333;
			}
		}

		.hospital_tipe {
			margin-left: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;

			> img {
				width: 1rem;
			}
		}
	}

	.dortor_title {
		background: #ededf1;
		padding: 0.53rem 15px;
		display: flex;
		align-items: center;

		> i {
			display: block;
			width: 1rem;
			height: 1px;
			background: #008e83;
		}

		> p {
			font-size: 1rem;
			color: #333333;
			margin-left: 0.4rem;
		}
	}

	.dortor_resume {
		margin: 1rem;
		border-left: 2px solid #008e83;

		> img {
			width: 4.93rem;
			height: 2rem;
			margin-left: 0.67rem;
			margin-bottom: 1rem;
		}

		.dortor_resume_list {
			margin-left: 0.4rem;
			padding: 0.67rem;

			.dortor_resume_list_title {
				display: flex;
				align-items: center;

				> i {
					width: 15px;
					height: 1px;
					background: #008e83;
				}

				> p {
					font-size: 0.8rem;
					color: #008e83;
					margin-left: 0.4rem;
				}
			}

			> p {
				margin-left: 1.33rem;
				color: #333333;
				font-size: 0.8rem;
			}

			.dortor_resume_list_title2 {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				> p {
					margin-left: 1.33rem;
					color: #333333;
					font-size: 0.8rem;
				}
			}
		}
	}

	.dortor_certificate {
		padding: 1.6rem;
		border-bottom: 1rem solid #ededf1;

		.certificate_title {
			color: #666666;

			> p:first-child {
				font-size: 1.07rem;
			}

			> p:last-child {
				font-size: 0.8rem;
			}
		}

		.certificate_img {
			width: 100%;
			height: calc(32.33rem / 2);
			margin: 0.93rem 0;
		}
	}

	.seeI {
		width: calc(15.33rem / 2);
		height: calc(4.73rem / 2);
		margin: auto;
		padding: 3rem 0;

		> img {
			width: 100%;
			height: 100%;
		}
	}

	.bottom_btn {
		display: flex;
		align-items: center;
		position: fixed;
		width: 100%;
		bottom: 0;

		> button {
			flex: 1;
			padding: 0.67rem 1rem;
			color: #ffffff;
			font-size: 1.07rem;
		}

		.btnA {
			background: #008e83;
		}

		.btnB {
			background: #828d93;
		}
	}
}
