.diary {
  width: 100%;
  height: calc(3.86rem / 2);
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  color: #000;

  > div {
    display: flex;
    align-items: center;
  }

  .diaryLeft {
    font-size: calc(2rem / 2);

    > img {
      width: calc(1.4rem / 2);
      height: calc(0.26rem / 2);
      margin: 0 0.66rem;
    }
  }
}

.white {
  width: 100%;
  background: #fff;

  > div {
    width: 85%;
    padding: 10px 0;
    margin: auto;
    font-size: calc(1.33rem / 2);
    color: #666;
  }
}
