.swiper {
    width: 100%;
    height: calc(26.66rem / 2);
    .swiperImg {
        margin: auto;
        width: 100%;
        height: calc(26.66rem / 2);
        position: relative;
        .imgA {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
}
.doctorTitle {
    height: calc(11.33rem / 2);
    display: flex;
    align-items: center;
    text-align: center;
    > div {
        max-height: 90%;
        max-width: 70%;
        margin: auto;
        > img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.doctorBrief {
    width: 100%;
    .briefImg {
        width: calc(47.6rem / 2);
        height: calc(26.66rem / 2);
        margin: auto;
        position: relative;
        > img {
            width: 100%;
            height: 100%;
        }
        .playImg {
            position: absolute;
            width: calc(47.6rem / 2);
            height: calc(26.66rem / 2);
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            > img {
                margin: auto;
            }
        }
    }
    .briefText {
        width: 85%;
        margin: auto;
        padding-top: calc(2.66rem / 2);
        padding-bottom: calc(4.33rem / 2);
        > div {
            color: #333;
            display: flex;
            align-items: center;
            > p:nth-child(1) {
                font-size: 1.07rem;
                font-weight: bold;
            }
            > p:nth-child(2) {
                display: block;
                width: 1px;
                height: 15px;
                background: #008e83;
                margin: 0 0.67rem;
            }
            > p:nth-child(3) {
                font-size: 0.67rem;
            }
        }
        > p {
            font-size: calc(1.33rem / 2);
            color: #777;
        }
    }
}
