.TopContent {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .logo {
        width: calc(16rem / 2);
        height: calc(2.66rem / 2);
        margin: auto;
        padding: 1.5rem 0;
        > img {
            width: 100%;
            height: 100%;
        }
    }
    .search {
        padding: 1rem;
        position: absolute;
        right: 1rem;
        > img {
            width: calc(2rem / 2);
            height: calc(2rem / 2);
        }
    }
}
.swiper {
    width: 100%;
    height: calc(31.33rem / 2);
    .swiperImg {
        margin: auto;
        width: 95%;
        height: calc(31.33rem / 2);
        position: relative;
        .imgA {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
}
.doctor {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: calc(2.46rem / 2);
    .doctorImg {
        width: calc(27.46rem / 2);
        height: calc(27.46rem / 2);
        > img {
            width: 100%;
            height: 100%;
        }
    }
    .doctorText {
        width: calc(21.6rem / 2);
        height: calc(27.46rem / 2);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        border-right: 1px solid #008e83;
        .centerText {
            font-size: calc(1.33rem / 2);
            color: #000;
            margin-left: 0.66rem;
            width: 85%;
            > img {
                width: 100%;
                height: 100%;
            }
        }
        .bottomText {
            position: absolute;
            bottom: 0.33rem;
            display: flex;
            align-items: center;
            font-size: calc(1.33rem / 2);
            color: #008e83;
            > img {
                width: 0.26rem;
                height: 0.5rem;
                margin: 0 0 0 0.3rem;
            }
        }
    }
}
.diary {
    width: 100%;
    height: calc(3.86rem / 2);
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    margin-top: calc(2.46rem / 2);
    color: #000;
    > div {
        display: flex;
        align-items: center;
    }
    .diaryLeft {
        font-size: calc(2rem / 2);
        > img {
            width: calc(1.4rem / 2);
            height: calc(0.26rem / 2);
            margin: 0 0.66rem;
        }
    }
    .diaryRight {
        font-size: calc(1.33rem / 2);
        > img {
            width: 0.26rem;
            height: 0.5rem;
            margin: 0rem 1rem 0 0.3rem;
        }
    }
}
.mation {
    margin-top: calc(2.4rem / 2);
    .mationTop {
        width: 90%;
        margin-left: 0.66rem;
        display: flex;
        align-items: center;
        > div:first-child {
            width: calc(4.06rem / 2);
            height: calc(4.06rem / 2);
            border-radius: 100%;
            overflow: hidden;
            margin-right: calc(2.4rem / 2);
            > img {
                width: 100%;
                height: 100%;
            }
        }
        > div:last-child {
            > p:first-child {
                font-size: calc(1.86rem / 2);
                color: #000;
                font-weight: 500;
            }
            > p:last-child {
                font-size: calc(1.2rem / 2);
                color: #aaa;
            }
        }
    }
    .mationCenter {
        display: flex;
        margin: calc(1.33rem / 2) 0;
        float: left;
        > div {
            width: calc(23.06rem / 2);
            height: calc(25rem / 2);
            margin-left: 10px;
            position: relative;
            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .mationBottom {
        > p {
            width: calc(47.2rem / 2);
            font-size: calc(1.6rem / 2);
            color: #333;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: auto;
            font-size: calc(1.33rem / 2);
        }
    }
}
.playImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    > img {
        margin: auto;
    }
}
.select {
    width: 100%;
    height: calc(19.26rem / 2);
    background-color: #f7f7f7;
    margin-top: calc(4.93rem / 2);
    > div {
        width: calc(44.86rem / 2);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calc(2.06rem / 2);
        font-weight: 400;
        color: #008e83;
    }
    .line {
        width: calc(16.73rem / 2);
        height: calc(0.01rem / 2);
        background-color: #008e83;
        border: 1px solid #008e83;
    }
    .options {
        width: calc(44.86rem / 2);
        margin: auto;
        height: calc(4rem / 2);
        border: 0;
        font-size: calc(1.6rem / 2);
        color: #333;
    }
}
.mationImg {
    margin-top: calc(2.46rem / 2);
    width: 100%;
    height: calc(31.66rem / 2);
    overflow: hidden;
    > img {
        width: 100%;
        height: 100%;
    }
}
.seeI {
    width: 100%;
    height: calc(10rem / 2);
    margin-top: calc(2.46rem / 2);
    > img {
        width: 100%;
        height: 100%;
    }
}
