.diary {
	width: 100%;
	height: calc(4rem / 2);
	background-color: #f7f7f7;
	color: #000;
	display: flex;
	align-items: center;
	&Left {
		font-size: calc(2rem / 2);
		display: flex;
		align-items: center;
		> img {
			width: calc(1.4rem / 2);
			height: calc(0.26rem / 2);
			margin: 0 0.66rem;
		}
	}
}
.Allselect {
	width: calc(47.6rem / 2);
	margin: auto;
	background-color: #ffffff;
	padding: calc(4.66rem / 2) 0;
	border-radius: 2px;
	&-stores {
		width: calc(41.46rem / 2);
		margin: auto;
		> p {
			font-size: calc(1.6rem / 2);
			color: #999;
		}
		.Allselect-list {
			font-size: calc(2rem / 2);
			height:calc(4rem/2);
			width: 100%;
			border: 0;
			color: #333;
			padding: 0.66rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.listCon{
				width: 80%;
				height: calc(4rem/2);
				line-height: calc(4rem/2);
				color:#ccc;
				font-size: calc(2rem/2);
				text-align: left;
			}
			.listConA{
				color:#333 !important; 
			}
			.listImg{
				width:calc(1rem/2);
				height:calc(2.06rem/2);
				>img{
					width: 100%;
					height: 100%;
					transform: rotate(90deg);
				}
			}
		}
		> input {
			font-size: calc(2rem / 2);
			width: 100%;
			border: 0;
			color: #333;
			padding: 0.66rem 0;
		}
		> span {
			width: 100%;
			height: 1px;
			background: #cce8e6;
			display: block;
		}
		> div {
			font-size: calc(1.73rem / 2);
			color: #008e83;
			text-align: right;
			padding-top: 0.66rem;
		}
	}
	.Second {
		margin-top: calc(4rem / 2) !important;
	}
	.Third {
		margin-top: calc(2.4rem / 2) !important;
	}
	&-top {
		display: -webkit-box;
		align-items: center;
		overflow-x: auto;
		overflow-y: hidden;
		.list {
			margin-left: calc(2.66rem / 2);
			text-align: center;
			padding: 5px 0;
			color: #333;
			
			> p:first-child {
				font-size: calc(1.6rem / 2);
			}
			> p:last-child {
				font-size: calc(1.33rem / 2);
			}
		}
	}
	&-bottom {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		> p {
			color: #008e83;
			font-size: calc(1.6rem / 2);
			border: 1px solid #008e83;
			text-align: center;
			height: calc(3.73rem / 2);
			width: calc(9.6rem / 2);
			border-radius: 4px;
			line-height: calc(3.73rem / 2);
			margin: calc(2rem / 2) 0 0 calc(1.6rem / 2);
		}
	}
	.active {
		color: #008e83;
		border-bottom: 2px solid #008e83;
	}
}
.price {
	width: calc(47.6rem / 2);
	margin: auto;
	background-color: #ffffff;
	padding: calc(3rem / 2) 0;
	border-radius: 2px;
	> div {
		width: calc(41.46rem / 2);
		margin: auto;
		> p:first-child {
			font-size: calc(2.66rem / 2);
			color: #008e83;
		}
		> p:last-child {
			font-size: calc(1.33rem / 2);
			color: #aaa;
		}
	}
}
.submit {
	margin: calc(4.86rem / 2) auto;
	width: calc(47.6rem / 2);
	height: calc(6.26rem / 2);
	> button {
		background-color: #008e83;
		width: 100%;
		height: 100%;
		color: #fff;
		font-size: calc(1.8rem / 2);
	}
}
.listA{
	color:#008e83 !important;
	border-bottom:1px solid #008e83;
}
.Bottom-P{
	background: #008e83 !important;
	color:#fff !important;
}

.payName {
	margin: calc(0.26rem / 2) auto;
	background-color: #fff;
	width: calc(47.6rem / 2);
	padding-top: calc(1.33rem / 2);
	.payWeChat {
		height: calc(6.26rem / 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: calc(3.2rem / 2);
		.imgWeChat {
			display: flex;
			height: calc(6.26rem / 2);
			align-items: center;
			> img {
				height: calc(2.46rem / 2);
				width: calc(2.86rem / 2);
			}
			p {
				font-size: calc(1.6rem / 2);
				color: #333;
				margin-left: calc(1.46rem / 2);
			}
		}
		.selectImg {
			margin-right: calc(3.2rem / 2);
			img {
				height: calc(3rem / 2);
				width: calc(3rem / 2);
			}
		}
	}
}
.integralBox {
	height: calc(8.53rem / 2);
	display: flex;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	.integralFont {
		margin-left: calc(3.2rem / 2);
		display: flex;
		.uses {
			font-size: calc(1.6rem / 2);
			color: #333;
		}
		.numberInt {
			font-size: calc(1.2rem / 2);
			color: #333;
		}
	}
	> img {
		height: calc(3.13rem / 2);
		width: calc(5.93rem / 2);
		margin-right: calc(3.2rem / 2);
	}
}