.background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #f7f7f7;
}

.pwd-box {
	width: calc(41.3rem/2);
	margin: calc(9rem/2) auto calc(1.4rem/2);
	background: white;
	height: calc(6rem/2);
	border-radius: calc(0.66rem / 2);
}

.pwd-box > input {
	width: calc(41.3rem/2);
	height: calc(6rem/2);
	color: transparent;
	position: absolute;
	font-size: calc(1.2rem/2);
	opacity: 0;
	z-index: 1;
	letter-spacing: 35px;
}

.fake-box {
	width: calc(41.3rem/2);
	height: calc(6rem/2);
	border: 1px solid #bfb6b6;
	border-radius: calc(0.66rem / 2);
}

.fake-box input {
	width: calc(6.7rem/2);
	height: 98%;
	border: none;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	font-size: 30px;
	margin: 0 !important;
	border-radius: calc(0.66rem / 2);
	/* 小input框*/
}
.fake-box input:nth-last-child(1) {
	border: none;
}

.pwdFont {
	height: calc(19.87rem/2);
	width: 100%;
	line-height: calc(19.8rem/2);
	font-size: calc(2rem/2);
	color: #040000;
	text-align: center;
	background-color: #FFFFFF;
}

.fontColor {
	color: #999;
	font-size: calc(1.33rem / 2);
	margin-top: calc(1.46rem / 2);
	width: 100%;
	text-align: center;
}

.button {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: calc(6.26rem / 2);
	line-height: calc(6.26rem / 2);
	background-color: #008e83;
	color: #ffffff;
	font-size: calc(1.8rem / 2);
	z-index: 999;
}
