.navList {
	width: 100%;
	height: calc(6.53rem / 2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	> div {
		padding: 6px calc(2rem / 2);
		margin-left: 5px;
	}
}
.conList {
	width: calc(47.6rem / 2);
	background: #fff;
	margin: auto;
	margin-top: calc(2rem / 2);
	.name {
		display: flex;
		align-items: center;
		height: calc(6.53rem / 2);
		border-radius: 4px;
		width: 98%;
		margin: auto;
		border-bottom: 1px solid #f7f7f7;
		display: flex;
		justify-content: space-between;
		&-left {
			display: flex;
			align-items: center;
			font-size: calc(1.6rem / 2);
			margin-left: calc(2rem / 2);
			> p:first-child {
				color: #999;
				width: 49px;
				text-align: justify;
				height: calc(6rem / 2);
				line-height: calc(6rem / 2);
				> span {
					display: inline-block;
					width: 100%;
				}
			}
			> p:last-child {
				color: #333;
				margin-left: calc(2.33rem / 2);
			}
		}
		&-right{
			margin-right: calc(2rem / 2);
			color:#008e83;
		}
	}
	.top {
		padding-top: calc(2.66rem / 2);
		padding-bottom: calc(1rem / 2);
		border-bottom: 1px solid #f7f7f7;
		position: relative;
		> div {
			display: flex;
			align-items: center;
			font-size: calc(1.6rem / 2);
			margin-left: calc(2.33rem / 2);
			margin-bottom: 0.66rem;
			> p:first-child {
				color: #999;
			}
			> p:last-child {
				color: #333;
				margin-left: calc(2.33rem / 2);
			}
		}
	}
}
.cartNull {
	background-color: #f7f7f7;
	text-align: center;
	margin-top: calc(23rem / 2);
	img {
		width: calc(13.2rem / 2);
		height: calc(16rem / 2);
		margin: auto;
	}
	p {
		font-size: calc(1.5rem / 2);
		color: #aaa;
		text-align: center;
		margin-top: calc(2.3rem / 2);
	}
}
.col_00{
		> p:first-child {
			font-size: calc(1.73rem / 2);
			color:#008e83;
		}
		> p:last-child {
			width: calc(2.5rem / 2);
			height: calc(0.2rem / 2);
			background: #008e83;
			margin: auto;
			margin-top: 5px;
		}

}
.col_ff{
	> p:first-child {
		font-size: calc(1.73rem / 2);
		color: #555;
	}
	> p:last-child {
		width: calc(2.5rem / 2);
		height: calc(0.2rem / 2);
		background: #fff;
		margin: auto;
		margin-top: 5px;
	}
}