.video-js .vjs-big-play-button{
		  width: 2em !important;
        text-align: center;  
        background:rgba(0, 0, 0, 0.8) !important;  
        border-radius: 50% !important;  
        margin-left:-1em !important;   
	}